
/*Element Selektor*/
body{
    background-image: url("volleyball_bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 200vh; /* sorgt dafür, dass der Body die volle Höhe des Viewports hat */
      width: 100vh;
      margin: 0; /* entfernt Standard-Abstände */
    }

/*Klassen Selektor*/

/* ID Selektor*/